* {
  font-familY: 'Crimson Text', serif;
  color: #416b5d;
}

h1, h2, h3, .myName{
  font-family: 'Julius Sans One', sans-serif;
}



/*<!--------------------------------------------------------->
<!----------------------------------------------------------->
<!-------------------- BODY SECTION ------------------------->
<!----------------------------------------------------------->*/

.body {
  position: 
  padding-top: 100px;
}

/*<!-------------------- BODY: NAVBAR ----------------------->*/

.myName {
  font-size: 30px;
  text-align: center;
  margin-right: 45px;
  margin-bottom: 5px;
}

.list-inline {
  font-size: 18px;
}

.navbar {
  color: aqua;
}


.navbar-default {
  background-color: #ffffff;
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: #416b5d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #416b5d;
}
.navbar-default .navbar-text {
  color: #86b2a3;
}
.navbar-default .navbar-nav > li > a {
  color: #86b2a3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #416b5d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #416b5d;
  background-color: #c2debe;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #416b5d;
  background-color: #c2debe;
}
.navbar-default .navbar-toggle {
  border-color: #c2debe;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c2debe;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #86b2a3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #86b2a3;
}
.navbar-default .navbar-link {
  color: #86b2a3;
}
.navbar-default .navbar-link:hover {
  color: #416b5d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #86b2a3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #416b5d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #416b5d;
    background-color: #c2debe;
  }
}
   
/*<!------------------- BODY: JUMBOTRON --------------------->*/
      
.jumbotron {
  background-color: aliceblue;
  padding: 60px;
}
  
/*<!------------------- BODY: THUMBNAILS -------------------->*/

.smallHeader {
  text-align: center;
  margin-bottom: 20px;
}    

.imgSpace {
  background-color: #c2debe;
  width: 200px;
  height: 200px;
  margin: 10px;
  align-content: center;
}

.thumbnail {
  border-color: white;
  color: #416b5d;
}


/*<!------------------- BODY: FOOTER  ----------------------->*/
      
.footerAll {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  align-content: center;
}

.footerLeft{
  padding-right: 5px;
  align-content: center;
}

.bottomIcons {
  margin-top: -14px;
  margin-left: -1.5px;
}

