@media only screen and (max-width: 850px) {
    body {
        background-color: lightblue;
    }
    .mainBody {
      margin-top: 30%;
    }
    .otherBody {
      margin-top:50%;
      background-color: pink;
    }
    .mylinks li {
      display: inline-block;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: orange;
    }
    .mainBody {
      margin-top: 40%;
    }
    .otherBody {
      margin-top:50%;
      background-color: pink;
    }
}
